.ant-layout-sider {
  flex: 0 0 200px !important;
  max-width: 300px !important;
  min-width: 300px !important;
  min-height: 100vh;
  width: 200px;
}

.ant-menu-item-selected {
  background-color: rgb(104,187,228) !important;
}

@media only screen and (max-width: 490px) {
  .side-container {
    display: none !important;
  }
}