.start-container {
  background-color: #f3f7f7;;
  height: 100vh;
  padding-top: 10%;
}

.start-left-cont {
  background-color: #fcfcfc;
  height: 100vh !important;
  padding-left: 5% !important;
  padding-right: 5% !important;
  padding-top: 12% !important;
}


.question {
  font-size: 22px;
}

.question-next-btn {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  float: right;
  height: 45px;
}

.question-next-btn:hover {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  float: right;
  height: 45px;
}

.question-next-btn:focus {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  float: right;
  height: 45px;
}

.start-btn {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  height: 45px;
}

.start-btn:hover {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  height: 45px;
}

.start-btn:focus {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #f3f7f7 !important;
  border: 1px solid #1e1e1e;
  height: 45px;
}

@media only screen and (max-width: 768px) {
  .question-next-btn {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    float: right;
    height: 45px;
  }

  .question-next-btn:hover {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    float: right;
    height: 45px;
  }

  .question-next-btn:focus {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    float: right;
    
  }

  .start-btn {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    height: 50px;
  }

  
  .start-btn:hover {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    height: 50px;
  }

  
  .start-btn:focus {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    height: 50px;
  }
  
}