.instruction-left-cont {
  background-color: #fcfcfc;
  height: 100vh;
  padding-left: 5%;
  padding-right: 5%;
  padding-top: 12%;
}

.instruction-right-cont {
  background: #f3f7f7;
  height: 100vh;
  padding-left: 10%;
  padding-right: 10%;
  padding-top: 12%;
}

.nexted-button {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #fff !important;
  border: 1px solid #1e1e1e;
  width: 50%;
  height: 40px;
  margin-top: 20px;
}

.nexted-button:hover {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #fff !important;
  border: 1px solid #1e1e1e;
  width: 50%;
}

.nexted-button:focus {
  background-color: #1e1e1e;
  border-radius: 3px;
  color: #fff !important;
  border: 1px solid #1e1e1e;
  width: 50%;
}

.continue-text p {
  margin-top: 20px;
  font-size: 20px !important;
}

.instruction-text {
  font-size: 18px;
  text-align: left;
}

.questn-no {
  margin-left: 90px;
}

.ant-image-img {
  display: block;
  width: 100%;
  height: auto;
  margin-left: 70px;
}

@media only screen and (max-width: 768px){
  .instruction-container {
    background-color: #fcfcfc;
    height: 50vh;
    padding: 10px;
    padding-top: 40%;
  }

  .instruction-left-cont {
    background-color: #fcfcfc;
    height: 60vh;
    padding-top: 12%;
  }
  
  .instruction-right-cont {
    background: #f3f7f7;
    height: 100vh;
    padding-top: 12%;
  }

  .nexted-button {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #f3f7f7 !important;
    border: 1px solid #1e1e1e;
    width: 70%;
  }

  .nexted-button:hover {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #fff !important;
    border: 1px solid #1e1e1e;
    width: 70%;
  }

  .nexted-button:focus {
    background-color: #1e1e1e;
    border-radius: 3px;
    color: #fff !important;
    border: 1px solid #1e1e1e;
    width: 70%;
  }

  .nexted-button:first-of-type {
    margin-left: 10px;
  }

  .nexted-button:last-of-type {
    margin-right: 10px;
  }

  .questn-no {
    margin-left: 50px;
  }

  .ant-image-img {
    display: block;
    width: 100%;
    height: auto;
    margin-left: 20px !important;
  }
  
}