.member-card {
  margin-top: 20px;
  min-height: 80vh;
  max-height: 80vh;
  padding: 20px;
}

.member-header-row {
  margin-bottom: 20px;
  margin-top: 20px;
}

.member-header-row input {
  border-radius: 50px;
  height: 50px;
}

.member-header, .modal-title {
  font-weight: bold;
  font-size: 25px;
}

.close {
  font-size: 35px !important;
  background: transparent !important;
  border: none;
}

.view-member-button {
  cursor: pointer;
  color: rgb(104,187,228);
}

.create-member-header-button {
  background: rgb(104,187,228);
  height: 50px;
  border: none;
}

.create-member-header-button:hover {
  background: rgb(104,187,228);
  height: 50px;
  border: none;
}

.create-member-header-button:focus {
  background: rgb(104,187,228);
  height: 50px;
  border: none;
}

.create-toggle-btn button {
  background: rgb(104,187,228);;
  margin-top: 10px;
  height: 50px !important;
  width: 100%;
  border: none;
}

.create-toggle-btn button:hover {
  background: rgb(104,187,228);;
  margin-top: 10px;
  height: 50px !important;
  width: 100%;
  border: none;
}

#member-detail-modal {
  min-width: 800px !important;
}

#member-detail-modal label {
  margin-bottom: 5px !important;
}

#modal-body {
  padding: 40px !important;
}

.member-info {
  margin-bottom: 20px;
  
}

.member-info input {
  background: transparent !important;
}

.membership-categories {
  margin-top: 25px;
  height: 40px;
}

.update-toggle-btn {
  background: rgb(104,187,228);
  height: 50px !important;
  width: 100%;
  border: none;
  color: #FFFFFF;
}

.update-toggle-btn:focus {
  background: rgb(104,187,228);
  height: 50px !important;
  width: 100%;
  border: none;
  color: #FFFFFF;
  outline: none !important;
}

.update-toggle-btn:hover {
  background: rgb(104,187,228);
  height: 50px !important;
  width: 100%;
  border: none;
  color: #FFFFFF;
  outline: none !important;
}

.add-to-group, .a-responsibility {
  width: 100%;
  height:50px;
  background: rgb(104,187,228);
  border: none;
  color: #FFFFFF;
}

.member-delete {
  background: #FF0000;
  width: 100%;
  height:50px;
  border: none;
  color: #FFFFFF;
}

.add-to-group:hover, .a-responsibility:hover {
  width: 100%;
  height:50px;
  background: rgb(104,187,228);
  border: non;
  color: #FFFFFF;
}

.member-delete:hover {
  background: #FF0000;
  width: 100%;
  height:50px;
  border: none;
  color: #FFFFFF;
}

.add-to-group:focus, .a-responsibility:focus {
  width: 100%;
  height:50px;
  background: rgb(104,187,228);
  border: none;
  color: #FFFFFF;
}

.member-delete:focus {
  background: #FF0000;
  width: 100%;
  height:50px;
  border: none;
  color: #FFFFFF;
}


@media screen and (max-width: 764px){
  .member-card {
    margin-top: 2px !important;
    min-height: 80vh;
    padding: 3px !important;
  }
  .create-toggle-btn button {
    background: rgb(104,187,228);
    margin-top: 10px;
    height: 40px !important;
    width: 100%;
    border: none;
  }

  .create-toggle-btn button:hover {
    background: rgb(104,187,228);
    margin-top: 10px;
    height: 40px !important;
    width: 100%;
    border: none;
  }
  #member-detail-modal {
    min-width: 300px !important;
  }

  #modal-body {
    padding: 15px !important;
  }

  .update-toggle-btn {
    background: rgb(104,187,228);
    margin-top: 10px;
    height: 40px !important;
    width: 100%;
    border: none;
  }

  .update-toggle-btn:focus {
    background: rgb(104,187,228);
    margin-top: 10px;
    height: 40px !important;
    width: 100%;
    border: none;
    outline: none !important;
  }

  .update-toggle-btn:active {
    background: rgb(104,187,228);
    margin-top: 10px;
    height: 40px !important;
    width: 100%;
    border: none;
    outline: none !important;
  }

  .member-info input {
    margin-bottom: 20px !important;
    background: transparent !important;
  }

  .add-to-group, .a-responsibility {
    width: 100%;
    height:50px;
    background: rgb(104,187,228);
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .member-delete {
    background: #FF0000;
    width: 100%;
    height:50px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .add-to-group:hover, .a-responsibility:hover {
    width: 100%;
    height:50px;
    background: rgb(104,187,228);
    border: non;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .member-delete:hover {
    background: #FF0000;
    width: 100%;
    height:50px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .add-to-group:focus, .a-responsibility:focus {
    width: 100%;
    height:50px;
    background: rgb(104,187,228);
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
  
  .member-delete:focus {
    background: #FF0000;
    width: 100%;
    height:50px;
    border: none;
    color: #FFFFFF;
    margin-bottom: 10px;
  }
}
